body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

iframe
{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -8px;
    z-index: 1;
}

#menuLogo
{
    justify-content: center;
    position: absolute;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 75px;
    transition: ease 0.5s;
    box-shadow: 0 2px 10px black;
    display: flex;
    z-index: 10;
    flex-direction: column;
    padding-bottom: 5px;
}

#menuLogo:hover
{
    transform: scale(1.1);
    transition: ease 0.5s;
}

#websiteLogo
{
    border-radius: 10px;
    height: 75px;
    transition: ease 0.5s;
    margin-top: auto;
}

#menuItemsId
{
    list-style: none;
    margin:auto;
    padding: 0;
    font-size: 2em;
    font-family: Roboto, sans-serif;
    font-weight: 600;

}

.menuItemsClass
{
    display: flex;
    margin-bottom: 10px;
    /*justify-content: center;*/
    align-content: center;
}


.icons
{
    display: inline-block;
    height: 35px;
    -webkit-user-drag: none;
}

.links
{
    position: relative;
    color: #E3E3E3;
    text-decoration: none;
    margin-left: 10px;
}

#homeButton
{
    margin-top: 25px;
}

.links::after
{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #E3E3E3;
    transition: ease .2s;
}

.links:hover:after
{
    width: 100%;
}


#topBar
{
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 10px black;
    z-index: 9;
}

#websiteLogo:hover
{
    cursor: pointer;

}
