body {
    display: flex;
    margin: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    flex-direction: column;
}

#cursor
{
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 0.9;
    pointer-events: none;
    transition: transform 0.1ms linear;
    z-index: 100;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
}

.hover
{
    border-radius: 50%;
}

#loaderScreen
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s, visibility 1s;
}

#loader
{
    display: block;
    width: 100px;
    height: 100px;
    background: white;

}

.loaded
{
    opacity: 0;
    visibility: hidden;
}

@keyframes loading
{
    0%
    {
        transform: rotate(0deg);
    }

   80%
   {
       transform: rotate(360deg);
   }

    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes loaded
{
    0%
    {
        transform: scale(1);
    }

    80%
    {
        transform: scale(1.3);
    }
    100%
    {
        transform: scale(0);
    }
}

.loaderHidden
{
    opacity: 0;
    visibility: hidden;
}

#menuLogo
{
    justify-content: center;
    position: absolute;
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 300px;
    transition: ease 0.5s;
    box-shadow: 0 2px 10px black;
    display: flex;
    z-index: 10;
    flex-direction: column;
    padding-bottom: 5px;
}

#menuLogo:hover
{
    transform: scale(1.1);
    transition: ease 0.5s;
    cursor: pointer;
}

#websiteLogo
{
    border-radius: 10px;
    height: 75px;
    transition: ease 0.5s;
    margin-top: auto;
}

#menuItemsId
{
    list-style: none;
    margin:auto;
    padding: 0;
    font-size: 2em;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.menuItemsClass
{
    display: flex;
    margin-bottom: 10px;
    /*justify-content: center;*/
    align-content: center;
}


.icons
{
    display: inline-block;
    height: 35px;
    -webkit-user-drag: none;
}

.links
{
    position: relative;
    color: #E3E3E3;
    text-decoration: none;
    margin-left: 10px;
}

#homeButton
{
    margin-top: 25px;
}

.links::after
{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #E3E3E3;
    transition: ease .2s;
}

.links:hover:after
{
    width: 100%;
}

.underlines
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #E3E3E3;
    transition: ease .2s;
}

#topBar
{
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 10px black;
    z-index: 9;
}

#background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 1;
}

#home
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    width: 100%;
    height: calc(100vh - 75px);
    padding: 20px;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
}

.item
{
    background-color: rgba(0, 0, 0, 0.48);
    height: 95%;
    border-radius: 10px;
    margin-top: 8px;
    min-width: calc((100% / 5) - 8px);
    transition: ease 0.5s;
    scroll-snap-align: center;
    overflow: hidden;
    scale: 1;
}

.item.enlarged
{
    scale: 1.03;
    transition: ease 0.5s;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.516);

    @media (min-width: 98%)
    {
        border: #000000 50px solid;
    }
}

.images
{
    display: flex;
    -webkit-user-drag: none;
}

::-webkit-scrollbar
{
    display: none;
}

#item1
{
    background-image: url(../assets/StarWarsBackground.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#item2
{
    background-image: url(../assets/IndianaJonesBackground.png);
    background-size: cover;
    position: relative;
    background-position: center;
}

#item3
{
    background-image: url(../assets/AvengersTower.jpg);
    background-size: cover;
    position: relative;
}

#item4
{
    background-image: url(../assets/PiratesOfTheCaribbeanBackground.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
}

#item5
{
    background-image: url(../assets/TheLordOfTheRingsBackground.jpg);
    background-size: cover;
    background-position: center;
}

#item6
{
    background-image: url(../assets/ToyStoryBackground.png);
    background-size: cover;
    background-position: left;
    position: relative;
}

#item7
{
    background-image: url(../assets/GhostbustersBackground.jpg);
    background-size: cover;
    background-position: center;
}

#item8
{
    background-image: url(../assets/GothamCity.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#item9
{
    background-image: url(../assets/PlanetOfTheApesBackground.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
}

#item10
{
    background-image: url(../assets/JurassicParkBackground.jpg);
    background-size: cover;
    background-position: right;
}

.logo
{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 500px;
    -webkit-user-drag: none;
    transition: width 1s ease;
}

#starWarsLogo
{
    top: 0;
    width: 90vw;
}

#darthVader
{
    position: absolute;
    width: 30vw;
    bottom: calc(0% - 25vw);
}

#indianaJonesLogo
{
    margin-top: 100px;
}

#indianaJones
{
    position: absolute;
    left: calc(75% - 7.5vw);
    top: calc(75% - 12vw);
    width: 17vw;
}

#marvelLogo
{
    width: 90%;
    margin-top: 100px;
}

#ironMan
{
    position: absolute;
    width: 20vw;
    left: calc(75% - 10vw);
    bottom: calc(0% - 4vw);
}

#piratesOfTheCaribbeanLogo
{
    width: 90%;
    margin-top: 100px;
}

#jackSparrow
{
    position: absolute;
    width: 20vw;
    left: calc(75% - 7.5vw);
    top: calc(75% - 12vw);
}

#theLordOfTheRingsLogo
{
    margin-top: 50px;
    width: 80%;
}

#gandalf
{
    position: absolute;
    width: 25vw;
    left: calc(75% - 10vw);
    top: calc(75% - 15vw);
}

#toyStoryLogo
{
    margin-top: 100px;
    width: 80%;
}

#woody
{
    position: absolute;
    width: 14vw;
    left: calc(75% - 7vw);
    top: calc(75% - 9vw);
}

#ghostbustersLogo
{
    margin-top: 100px;
    width: 100%;
}

#peterVenkman
{
    position: absolute;
    width: 14vw;
    left: calc(40%);
    top: calc(75% - 10vw);
}

#batmanLogo
{
    margin-top: 100px;
    width: 100%;
}

#batman
{
    position: absolute;
    width: 25vw;
    left: calc(75% - 12vw);
    top: calc(75% - 10vw);
}

#planetOfTheApesLogo
{
    margin-top: 100px;
    width: 100%;
}

#caesar
{
    position: absolute;
    width: 25vw;
    left: calc(75% - 15vw);
    top: calc(75% - 8vw);
}

#jurassicParkLogo
{
    margin-top: 100px;
    width: 90%;
}

#owenGrady
{
    position: absolute;
    width: 14vw;
    left: calc(75% - 5vw);
    top: calc(75% - 10vw);
}

@media (max-width: 1300px)
{
    .item
    {
        min-width: calc((100% / 3) - 8px);
    }
    #woody
    {
        width: 20vw;
        left: calc(50% - 10vw);
    }
    #theLordOfTheRingsLogo
    {
        top: 100px;
    }

    #gandalf
    {
        width: 30vw;
        left: calc(50% - 12vw);
    }

    #peterVenkman
    {
        width: 22vw;
        left: calc(75% - 17vw);
        top: calc(75% - 9vw);
    }

    #jackSparrow
    {
        width: 25vw;
        left: calc(75% - 20vw);
        top: calc(75% - 10vw);
    }

    #caesar
    {
        width: 30vw;
        left: calc(75% - 27.5vw);
        top: calc(75% - 10vw);
    }

    #darthVader
    {
        width: 35vw;
        left: calc(75% - 25vw);
        top: calc(75% - 10vw);
    }

    #ironMan
    {
        width: 25vw;
        left: calc(75% - 20vw);
        top: calc(75% - 10vw);
    }

    #indianaJones
    {
        width: 22vw;
        left: calc(75% - 17vw);
        top: calc(75% - 9vw);
    }

    #batman
    {
        width: 40vw;
        left: calc(75% - 27vw);
        top: calc(75% - 10vw);
    }

    #owenGrady
    {
        width: 20vw;
        left: calc(75% - 5vw);
        top: calc(75% - 10vw);
    }
}

@media (max-width: 600px)
{
    .item
    {
        min-width: calc(100% - 8px);
        justify-content: center;
    }
    #woody
    {
        width: 50vw;
        left: calc(50% - 25vw);
        top: calc(75% - 25vw);
    }

    #toyStoryLogo
    {
        width: 60vw;
    }
    #peterVenkman
    {
        width: 50vw;
        left: calc(75% - 45vw);
        top: calc(75% - 25vw);

    }

    #theLordOfTheRingsLogo
    {
        width: 60vw;
    }

    #gandalf
    {
        width: 75vw;
        left: calc(50% - 30vw);
        top: calc(75% - 40vw);
    }

    #jackSparrow
    {
        width: 70vw;
        left: calc(50% - 32vw);
        top: calc(75% - 30vw);
    }

    #ironMan
    {
        width: 75vw;
        left: calc(75% - 55vw);
        top: calc(75% - 25vw);
    }

    #darthVader
    {
        width: 100vw;
        left: calc(75% - 70vw);
        top: calc(75% - 30vw);
    }

    #starWarsLogo
    {
        width: 80vw;
    }

    #indianaJones
    {
        width: 65vw;
        left: calc(75% - 50vw);
        top: calc(75% - 25vw);
    }

    #caesar
    {
        width: 90vw;
        left: calc(75% - 78vw);
        top: calc(75% - 25vw);
    }

    #planetOfTheApesLogo
    {
        width: 80vw;
    }

    #batman
    {
        width: 100vw;
        left: calc(75% - 70vw);
        top: calc(75% - 25vw);
    }

    #owenGrady
    {
        width: 70vw;
        left: calc(75% - 40vw);
        top: calc(75% - 35vw);
    }
}

/* Subscription Page */
#subscriptions
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.header
{
    background: radial-gradient(circle, rgba(0,0,0,0.55906869583771) 0%, rgba(51,51,51,1) 100%);
    height: 100px;
    border-radius: 20px;
    /* align-content: center; */
    justify-content: center;
    display: flex;
    margin: 30px auto 10px auto;
}

.container
{
    background: radial-gradient(circle, rgba(0,0,0,0.55906869583771) 0%, rgba(51,51,51,1) 100%);    
    height: 100vh;
    border-radius: 300px 300px 0 0;
    margin: 0 20px 10px 20px;
}

.headerText
{
    font-size: 4.5em;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    background: radial-gradient(#ffffff, #cecece);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

#aboutUs
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    margin-top: 10px;
    padding: 20px;
    gap: 100px;
    overflow: hidden;
}

.subscriptionHeader
{
    font-size: 4.5em;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    background: radial-gradient(#ffffff, #8e8e8e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin: 0;
}

